<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>challenge-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,2},{898,670}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{898,670}}</string>
                <key>sourceSize</key>
                <string>{898,670}</string>
            </dict>
            <key>clown-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,994},{238,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,225}}</string>
                <key>sourceSize</key>
                <string>{238,225}</string>
            </dict>
            <key>clown-happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{287,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,454}}</string>
                <key>sourceSize</key>
                <string>{287,454}</string>
            </dict>
            <key>clown-sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{287,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,454}}</string>
                <key>sourceSize</key>
                <string>{287,454}</string>
            </dict>
            <key>exit-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1110},{754,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{754,209}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>exit-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,899},{754,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{754,209}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>experience-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>experience-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1221},{335,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,131}}</string>
                <key>sourceSize</key>
                <string>{335,131}</string>
            </dict>
            <key>game-center-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1225},{195,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,197}}</string>
                <key>sourceSize</key>
                <string>{195,197}</string>
            </dict>
            <key>game-center-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{195,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,197}}</string>
                <key>sourceSize</key>
                <string>{195,197}</string>
            </dict>
            <key>length-challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1830},{381,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,129}}</string>
                <key>sourceSize</key>
                <string>{381,129}</string>
            </dict>
            <key>level-indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1866},{161,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,165}}</string>
                <key>sourceSize</key>
                <string>{161,165}</string>
            </dict>
            <key>main-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1059,765}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1059,765}}</string>
                <key>sourceSize</key>
                <string>{1059,765}</string>
            </dict>
            <key>main-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{138,686}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,11},{138,686}}</string>
                <key>sourceSize</key>
                <string>{250,700}</string>
            </dict>
            <key>pause-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1321},{164,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,162}}</string>
                <key>sourceSize</key>
                <string>{164,162}</string>
            </dict>
            <key>pause-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1858},{164,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,162}}</string>
                <key>sourceSize</key>
                <string>{164,162}</string>
            </dict>
            <key>play-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1110},{752,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{752,209}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>play-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,674},{754,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{754,209}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>points-challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1524},{251,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,304}}</string>
                <key>sourceSize</key>
                <string>{251,304}</string>
            </dict>
            <key>retry-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,769},{770,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,223}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>retry-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,674},{770,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,223}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>score-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1430},{90,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,442}}</string>
                <key>sourceSize</key>
                <string>{90,442}</string>
            </dict>
            <key>start-game-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1259},{263,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,314}}</string>
                <key>sourceSize</key>
                <string>{263,314}</string>
            </dict>
            <key>start-game-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,994},{263,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,314}}</string>
                <key>sourceSize</key>
                <string>{263,314}</string>
            </dict>
            <key>time-challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1524},{332,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,188}}</string>
                <key>sourceSize</key>
                <string>{332,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-ipad.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3d725b6a391b6d2f9b2ffa5cb08021f$</string>
            <key>textureFileName</key>
            <string>buttons-ipad.png</string>
        </dict>
    </dict>
</plist>
