<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clown-face-happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,381},{103,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,96}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>clown-face-sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,381},{103,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,96}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>exit-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,688},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,55}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>exit-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,688},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,55}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>expirience-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,21},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>expirience-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,479},{84,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,33}}</string>
                <key>sourceSize</key>
                <string>{84,33}</string>
            </dict>
            <key>game-center-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,566},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>game-center-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,479},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>level-indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{80,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,53}</string>
            </dict>
            <key>main-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>main-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{69,344}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{69,344}}</string>
                <key>sourceSize</key>
                <string>{125,350}</string>
            </dict>
            <key>pause-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,637},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>pause-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,637},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>picture-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{205,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,207}}</string>
                <key>sourceSize</key>
                <string>{205,207}</string>
            </dict>
            <key>play-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,653},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,55}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>play-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,635},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,55}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>retry-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,635},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,54}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>retry-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,54}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>score-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{47,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,228}}</string>
                <key>sourceSize</key>
                <string>{47,228}</string>
            </dict>
            <key>start-game-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,487},{146,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,175}}</string>
                <key>sourceSize</key>
                <string>{146,175}</string>
            </dict>
            <key>start-game-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,310},{146,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,175}}</string>
                <key>sourceSize</key>
                <string>{146,175}</string>
            </dict>
            <key>umbrella.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18f06d1d570ce5e3d497fb631f909659$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
