<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-exit-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,209},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>btn-exit-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,209},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>btn-pause-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>btn-pause-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{53,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>btn-small-play-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,163},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>btn-small-play-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>btn-try-again-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,44}}</string>
                <key>sourceSize</key>
                <string>{105,44}</string>
            </dict>
            <key>btn-try-again-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,44}}</string>
                <key>sourceSize</key>
                <string>{105,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:820c3782263f858c20eff972976b0497$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
