<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>challenge-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2121,2},{1795,1340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1795,1340}}</string>
                <key>sourceSize</key>
                <string>{1795,1340}</string>
            </dict>
            <key>clown-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2852},{444,764}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,764}}</string>
                <key>sourceSize</key>
                <string>{444,764}</string>
            </dict>
            <key>clown-happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1534},{582,625}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,625}}</string>
                <key>sourceSize</key>
                <string>{582,625}</string>
            </dict>
            <key>clown-sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,2163},{564,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,612}}</string>
                <key>sourceSize</key>
                <string>{564,612}</string>
            </dict>
            <key>exit-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2075,2633},{1506,419}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{1506,419}}</string>
                <key>sourceSize</key>
                <string>{1540,445}</string>
            </dict>
            <key>exit-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2075,2212},{1506,419}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{1506,419}}</string>
                <key>sourceSize</key>
                <string>{1540,445}</string>
            </dict>
            <key>experience-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{3997,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>experience-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{3918,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2163},{670,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,262}}</string>
                <key>sourceSize</key>
                <string>{670,262}</string>
            </dict>
            <key>game-center-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1926},{390,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,393}}</string>
                <key>sourceSize</key>
                <string>{390,393}</string>
            </dict>
            <key>game-center-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1534},{390,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,393}}</string>
                <key>sourceSize</key>
                <string>{390,393}</string>
            </dict>
            <key>length-challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2852},{761,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{761,257}}</string>
                <key>sourceSize</key>
                <string>{761,257}</string>
            </dict>
            <key>level-indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2852},{667,675}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{667,675}}</string>
                <key>sourceSize</key>
                <string>{679,697}</string>
            </dict>
            <key>main-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2117,1530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2117,1530}}</string>
                <key>sourceSize</key>
                <string>{2117,1530}</string>
            </dict>
            <key>main-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,3178},{274,1372}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,22},{274,1372}}</string>
                <key>sourceSize</key>
                <string>{500,1400}</string>
            </dict>
            <key>pause-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{3583,2852},{328,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,324}}</string>
                <key>sourceSize</key>
                <string>{328,324}</string>
            </dict>
            <key>pause-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3738},{328,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,324}}</string>
                <key>sourceSize</key>
                <string>{328,324}</string>
            </dict>
            <key>play-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2086,1791},{1506,419}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{1506,419}}</string>
                <key>sourceSize</key>
                <string>{1540,445}</string>
            </dict>
            <key>play-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{3663,1344},{1506,419}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{1506,419}}</string>
                <key>sourceSize</key>
                <string>{1540,445}</string>
            </dict>
            <key>points-challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2318},{501,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,608}}</string>
                <key>sourceSize</key>
                <string>{501,608}</string>
            </dict>
            <key>retry-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,3618},{1540,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1540,445}}</string>
                <key>sourceSize</key>
                <string>{1540,445}</string>
            </dict>
            <key>retry-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2121,1344},{1540,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1540,445}}</string>
                <key>sourceSize</key>
                <string>{1540,445}</string>
            </dict>
            <key>score-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2852},{180,884}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,884}}</string>
                <key>sourceSize</key>
                <string>{180,884}</string>
            </dict>
            <key>start-game-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{526,627}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,627}}</string>
                <key>sourceSize</key>
                <string>{526,627}</string>
            </dict>
            <key>start-game-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1534},{526,627}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,627}}</string>
                <key>sourceSize</key>
                <string>{526,627}</string>
            </dict>
            <key>time-challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2163},{663,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,375}}</string>
                <key>sourceSize</key>
                <string>{663,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-ipad-hd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d00c11e930e6e188996c3a083db9a79$</string>
            <key>textureFileName</key>
            <string>buttons-ipad-hd.png</string>
        </dict>
    </dict>
</plist>
