<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>challenge-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,2},{898,670}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{898,670}}</string>
                <key>sourceSize</key>
                <string>{898,670}</string>
            </dict>
            <key>clown-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1430},{222,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,382}}</string>
                <key>sourceSize</key>
                <string>{222,382}</string>
            </dict>
            <key>clown-happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1110},{291,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,313}}</string>
                <key>sourceSize</key>
                <string>{291,313}</string>
            </dict>
            <key>clown-sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,769},{282,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,306}}</string>
                <key>sourceSize</key>
                <string>{282,306}</string>
            </dict>
            <key>exit-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{754,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{754,209}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>exit-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{754,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{754,209}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>experience-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>experience-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1430},{335,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,131}}</string>
                <key>sourceSize</key>
                <string>{335,131}</string>
            </dict>
            <key>game-center-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1191},{195,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,197}}</string>
                <key>sourceSize</key>
                <string>{195,197}</string>
            </dict>
            <key>game-center-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1191},{195,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,197}}</string>
                <key>sourceSize</key>
                <string>{195,197}</string>
            </dict>
            <key>length-challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1430},{381,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,129}}</string>
                <key>sourceSize</key>
                <string>{381,129}</string>
            </dict>
            <key>level-indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1874},{161,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,165}}</string>
                <key>sourceSize</key>
                <string>{161,165}</string>
            </dict>
            <key>main-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1059,765}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1059,765}}</string>
                <key>sourceSize</key>
                <string>{1059,765}</string>
            </dict>
            <key>main-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1425},{138,686}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,11},{138,686}}</string>
                <key>sourceSize</key>
                <string>{250,700}</string>
            </dict>
            <key>pause-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1191},{164,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,162}}</string>
                <key>sourceSize</key>
                <string>{164,162}</string>
            </dict>
            <key>pause-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1191},{164,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,162}}</string>
                <key>sourceSize</key>
                <string>{164,162}</string>
            </dict>
            <key>play-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,899},{752,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{752,209}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>play-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,674},{754,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{754,209}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>points-challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1746},{251,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,304}}</string>
                <key>sourceSize</key>
                <string>{251,304}</string>
            </dict>
            <key>retry-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1814},{770,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,223}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>retry-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,674},{770,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,223}}</string>
                <key>sourceSize</key>
                <string>{770,223}</string>
            </dict>
            <key>score-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{90,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,442}}</string>
                <key>sourceSize</key>
                <string>{90,442}</string>
            </dict>
            <key>start-game-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1430},{263,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,314}}</string>
                <key>sourceSize</key>
                <string>{263,314}</string>
            </dict>
            <key>start-game-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1110},{263,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,314}}</string>
                <key>sourceSize</key>
                <string>{263,314}</string>
            </dict>
            <key>time-challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1430},{332,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,188}}</string>
                <key>sourceSize</key>
                <string>{332,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e4558903f48872780fee65a44cadbb1$</string>
            <key>textureFileName</key>
            <string>buttons-hd.png</string>
        </dict>
    </dict>
</plist>
