<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-exit-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,450},{86,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,186}}</string>
                <key>sourceSize</key>
                <string>{88,188}</string>
            </dict>
            <key>btn-exit-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,362},{86,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,186}}</string>
                <key>sourceSize</key>
                <string>{88,188}</string>
            </dict>
            <key>btn-pause-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,278},{58,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{58,104}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>btn-pause-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,172},{58,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{58,104}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>btn-play-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,724},{138,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,306}}</string>
                <key>sourceSize</key>
                <string>{140,308}</string>
            </dict>
            <key>btn-play-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,584},{138,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,306}}</string>
                <key>sourceSize</key>
                <string>{140,308}</string>
            </dict>
            <key>btn-small-play-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,272},{88,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,208}}</string>
                <key>sourceSize</key>
                <string>{88,208}</string>
            </dict>
            <key>btn-small-play-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,182},{88,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,208}}</string>
                <key>sourceSize</key>
                <string>{88,208}</string>
            </dict>
            <key>btn-try-again-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,92},{88,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,208}}</string>
                <key>sourceSize</key>
                <string>{88,210}</string>
            </dict>
            <key>btn-try-again-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{88,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,208}}</string>
                <key>sourceSize</key>
                <string>{88,210}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{168,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,66}}</string>
                <key>sourceSize</key>
                <string>{168,66}</string>
            </dict>
            <key>finger_ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,584},{335,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,131}}</string>
                <key>sourceSize</key>
                <string>{335,131}</string>
            </dict>
            <key>hero-gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,384},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>info-level-failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,584},{234,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{234,432}}</string>
                <key>sourceSize</key>
                <string>{240,440}</string>
            </dict>
            <key>info-level-passed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{234,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{234,432}}</string>
                <key>sourceSize</key>
                <string>{240,440}</string>
            </dict>
            <key>player-picture-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,864},{149,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,142}}</string>
                <key>sourceSize</key>
                <string>{149,142}</string>
            </dict>
            <key>player-picture-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{234,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{234,432}}</string>
                <key>sourceSize</key>
                <string>{240,440}</string>
            </dict>
            <key>umbrella.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{736,580}}</string>
                <key>offset</key>
                <string>{79,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,137},{736,580}}</string>
                <key>sourceSize</key>
                <string>{894,894}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d827d50417bbae809fccab20754f1ae0$</string>
            <key>textureFileName</key>
            <string>buttons-hd.png</string>
        </dict>
    </dict>
</plist>
