<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clown-face-happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,758},{206,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,191}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>clown-face-sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,758},{206,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,191}}</string>
                <key>sourceSize</key>
                <string>{206,191}</string>
            </dict>
            <key>exit-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1262},{99,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,113}}</string>
                <key>sourceSize</key>
                <string>{99,113}</string>
            </dict>
            <key>exit-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1262},{99,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,113}}</string>
                <key>sourceSize</key>
                <string>{99,113}</string>
            </dict>
            <key>expirience-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,38},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>expirience-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{335,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,131}}</string>
                <key>sourceSize</key>
                <string>{335,131}</string>
            </dict>
            <key>game-center-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1123},{170,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,171}}</string>
                <key>sourceSize</key>
                <string>{170,171}</string>
            </dict>
            <key>game-center-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,951},{170,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,171}}</string>
                <key>sourceSize</key>
                <string>{170,171}</string>
            </dict>
            <key>level-indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1262},{159,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,105}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>main-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{960,614}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>main-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{138,686}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,11},{138,686}}</string>
                <key>sourceSize</key>
                <string>{250,700}</string>
            </dict>
            <key>pause-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1397},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>pause-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1369},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>picture-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{410,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,414}}</string>
                <key>sourceSize</key>
                <string>{410,414}</string>
            </dict>
            <key>play-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1295},{100,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,113}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>play-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1295},{100,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,113}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>retry-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1363},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>retry-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1363},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>score-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{94,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,456}}</string>
                <key>sourceSize</key>
                <string>{94,456}</string>
            </dict>
            <key>start-game-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,969},{291,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,349}}</string>
                <key>sourceSize</key>
                <string>{291,349}</string>
            </dict>
            <key>start-game-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,618},{291,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,349}}</string>
                <key>sourceSize</key>
                <string>{291,349}</string>
            </dict>
            <key>umbrella.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-ipad-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f54880f30b88491d1e374a67e7f81fe4$</string>
            <key>textureFileName</key>
            <string>buttons-ipad-hd.png</string>
        </dict>
    </dict>
</plist>
