<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,166},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ball-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ball-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>block-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,84},{20,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,80}}</string>
                <key>sourceSize</key>
                <string>{20,80}</string>
            </dict>
            <key>block-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,80}}</string>
                <key>sourceSize</key>
                <string>{20,80}</string>
            </dict>
            <key>paddle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,140}}</string>
                <key>sourceSize</key>
                <string>{20,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites-ipad.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:873545e74a9ca0d6ba9503ebab8b6dc7$</string>
            <key>textureFileName</key>
            <string>sprites-ipad.png</string>
        </dict>
    </dict>
</plist>
