<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prealoader1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1260},{304,264}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,26},{304,264}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader10.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,600},{380,264}}</string>
                <key>offset</key>
                <string>{35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,26},{380,264}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader11.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,982},{376,260}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,30},{376,260}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,228},{406,246}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,44},{406,246}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader13.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{422,226}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,64},{422,226}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{426,198}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,90},{426,198}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,174}}</string>
                <key>offset</key>
                <string>{-28,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{430,174}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader16.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,248},{396,204}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,86},{396,204}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{370,230}}</string>
                <key>offset</key>
                <string>{-26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,60},{370,230}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader18.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1244},{328,248}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{328,248}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1592},{288,260}}</string>
                <key>offset</key>
                <string>{-33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,30},{288,260}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1292},{304,260}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,30},{304,260}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1554},{298,266}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,24},{298,266}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader21.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1320},{302,262}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,28},{302,262}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1042},{306,248}}</string>
                <key>offset</key>
                <string>{38,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,42},{306,248}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1042},{302,224}}</string>
                <key>offset</key>
                <string>{58,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,64},{302,224}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{310,234}}</string>
                <key>offset</key>
                <string>{66,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,54},{310,234}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1002},{346,256}}</string>
                <key>offset</key>
                <string>{68,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,34},{346,256}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,252},{348,264}}</string>
                <key>offset</key>
                <string>{53,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,26},{348,264}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,778},{362,262}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,28},{362,262}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader28.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,866},{378,252}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,38},{378,252}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader29.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,454},{386,260}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{386,260}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1346},{304,244}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,46},{304,244}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{388,264}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{388,264}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{384,258}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{384,258}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader32.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{426,244}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,46},{426,244}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{416,224}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,66},{416,224}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader34.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,230},{398,196}}</string>
                <key>offset</key>
                <string>{20,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,92},{398,196}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader35.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,428},{388,170}}</string>
                <key>offset</key>
                <string>{41,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,118},{388,170}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader36.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1120},{344,198}}</string>
                <key>offset</key>
                <string>{49,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,92},{344,198}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1396},{314,220}}</string>
                <key>offset</key>
                <string>{50,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,68},{314,220}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader38.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1788},{296,242}}</string>
                <key>offset</key>
                <string>{47,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,48},{296,242}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1526},{300,260}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,30},{300,260}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,2},{332,248}}</string>
                <key>offset</key>
                <string>{-47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{332,248}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader40.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1618},{306,264}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,26},{306,264}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,518},{380,258}}</string>
                <key>offset</key>
                <string>{-47,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{380,258}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader6.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,716},{380,264}}</string>
                <key>offset</key>
                <string>{-31,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{380,264}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,476},{382,264}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,26},{382,264}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,742},{378,258}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{378,258}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
            <key>prealoader9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{380,258}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,32},{380,258}}</string>
                <key>sourceSize</key>
                <string>{486,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>preloader-ipad-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f04f2ca5b1f6181f9a85e7c4ba6a1e8b$</string>
            <key>textureFileName</key>
            <string>preloader-ipad-hd.png</string>
        </dict>
    </dict>
</plist>
