<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prealoader1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,420},{76,68}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{76,68}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{96,68}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{96,68}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{96,66}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{96,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{104,62}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{104,62}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,58}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{108,58}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader14.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,62},{108,50}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{108,50}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader15.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,114},{108,44}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{108,44}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader16.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,628},{100,52}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{100,52}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader17.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,682},{94,58}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{94,58}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader18.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,288},{84,64}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{84,64}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader19.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,558},{74,66}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{74,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,742},{78,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{78,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader20.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,490},{76,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{76,68}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader21.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,560},{78,66}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{78,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader22.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,810},{78,62}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{78,62}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader23.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,742},{78,56}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{78,56}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader24.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,874},{80,60}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{80,60}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader25.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,220},{88,66}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{88,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{88,68}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{88,68}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{92,66}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{92,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{96,64}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{96,64}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{98,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{98,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,220},{78,62}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{78,62}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{98,68}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{98,68}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{98,66}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{98,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,62}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{108,62}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader33.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,160},{104,58}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{104,58}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader34.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,626},{100,50}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{100,50}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader35.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,936},{98,44}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{98,44}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader36.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,904},{88,50}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,23},{88,50}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader37.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,822},{80,56}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{80,56}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader38.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,300},{76,62}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,11},{76,62}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader39.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,490},{76,66}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{76,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,354},{84,64}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{84,64}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader40.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,420},{76,68}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{76,68}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{96,66}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{96,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{96,68}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,68}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{96,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{96,68}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{96,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{96,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>prealoader9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{96,66}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{96,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>preloader.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a875412326be95c18643caf33dceaa73$</string>
            <key>textureFileName</key>
            <string>preloader.png</string>
        </dict>
    </dict>
</plist>
